:root {
	--white: #eeeeee;
	--off-white: #bbbbbb;
	--silver: #C0B7B0;
	--blue: #157dff;
  --dark-grey: #555559;
	--coal: #3333EE;
	--black: #333333;
}

html {
	--bkg-major: var(--dark-grey);
	--bkg-reverse: var(--white);
	--hilight: var(--silver);
	--text-major: var(--black);
	--text-mute: var(--coal);
	--menu-link: var(--white);
	--border-major: var(--black);
	--border-minor: var(--off-white);
	--border-mid: var(--dark-grey);
}
