$dark-grey: #555559;
$light-grey: #dadada;
$blue: #157dff;
$pink: #d33682;
$black: #333333;
$white: #ffffff;
$green: #39d24a;
$yellow: #ffe244;
$pink: #ff36a3;

$bkg: $dark-grey;
$hilight: #C0B7B0;
$hilight-dark: $black;
$text-light: #cdc8c8;
$text-dark: $black;
$text-mute: #3333EE;
$text-link: #ada8a8;
$border-light: #586e75;
$border-dark: $dark-grey;
