body {
	width: 100vw;
	margin-inline: auto;
	overflow-x: hidden;
	margin: 0;
	padding: 0;
}

.grid-wrap {
	display: grid;
	justify-content: center;
	margin: 0 5px;
	background: url(/images/chan.gif) no-repeat scroll left top transparent;
	grid-gap: 0;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(4, auto);
	grid-template-areas: 
		'header'
		'nav'
		'main'
		'footer';

	header {
		grid-area: header;
		height: 96px;

		h1 {
			margin-top: 29px;
		}
	}

	nav {
		grid-area: nav;

		ul.navbar-nav {
			width: 140px;
		}
	}

	main {
		grid-area: main;
	}

	footer {
		grid-area: footer;
	}

	@include screen-width('medium') {
		max-width: 840px;
		margin-inline: auto;

		grid-template-columns: 
			minmax(140px, 300px)
			minmax(550px, 600px)
			minmax(240px, 300px);
		grid-template-rows: repeat(3, auto);
		grid-template-areas: 
			'callig header blank'
			'nav main blank'
			'footer footer blank';

		.callig {
			grid-area: callig;
		}

		header {
			height: 131px;

			h1 a {
				font-size: .7em;
			}
		}

		main {
			padding: 30px;
		}
	}
}

