body, table {
	background-color: var(--bkg-major);
	font-family: verdana,arial,Kalimati,sans-serif;
	font-size: medium;
	font-weight: bold;
	text-align: center;
	color: var(--text-major);
}

.grid-wrap {
	header {
		h1 a {
			font-size: .6em;
			color: var(--hilight);
			letter-spacing: 7px;
			text-align: center;
		}
	}

	main {
		border: 1px solid var(--border-major);
		color: var(--text-major);
		min-height: 75vh;
		text-align: left;
		padding: 10px;
		z-index:0;

		a:visited {
			color: var(--text-mute);
		}

		ul {
			list-style-type:square;

			li {
				line-height: 40px;
			}
		}

		img.big {
			width: 80%;
		}
	}

	main, main table {
		background: url(/images/clouds.jpg) repeat scroll 0 0 transparent;
	}
}

footer {
	text-align: right;

	#footer-text,
	#footer-text a {
		color: var(--hilight);
		font-style: italic;
		font-size: .8em;
	}
}

#contactForm {
	text-align: left;

	h4 {
		margin-bottom: 3px;
	}
}

.scriptMessage, .scriptMessage a {
	color: var(--hilight);
	text-align: left;
}

.linkback {
	border-bottom: 1px solid var(--border-minor);
	font-size: 9px;
	font-style: italic;
	padding-bottom: 5px;
}

#lastUpdated {
	color: var(--text-major);
	font-size: 9px;
	font-style: italic;
	text-align: left;
}

.randomQuote {
	width:66%;
	margin:20px auto;
	padding:20px;
	border:1px solid #999;
	line-height:25px;
}

.randomQuote .author {
	text-align:right;
	font-size:9px;
	font-style:italic;
}

#library table {
	background-color: var(--bkg-reverse);
}

#library table td {
	text-align:left;
	border:1px solid var(--border-mid);
	font-weight:normal;
	vertical-align:top;
	padding:5px;
}

