/* Most mobiles */
@media only screen and (max-device-width: 480px) {
    #outerContainer {
        margin: 0;
        padding: 10px;

        #outer {
            width: 480px;
        }
    }

    #header {
        background: none;
        height: 43px;
        width: 100%;
        margin: 0 auto;
        padding: 0;
        text-align: center;
        margin: 0 auto;

        #headerContent {
            margin-left: 25px;
        }
    }

    #menu {
        float: none;

        img {
            display: none;
        }
    }

    #mainContent {
        #inner {
            margin: 0;
            padding: 0;
            width: 90%;
        }
    }

    #buyBox {
        float: left;
    }
}

