#menu {
    ul {
        opacity:0.9;
        margin-top:7px;
        width: 120px;
    }

    ul,
    ul ul {
        letter-spacing: 2px;
        position:relative;
        list-style-type:none;
        padding-left:0;
        background-color:#555559;
        z-index:2;
    }

    ul li {
        text-align: right;
        height:25px;
    }

    ul ul li {
        text-align: left;
        padding-left:5px;
				margin-left: -1px;
    }

    ul li,
    ul ul li {
        border: 1px solid #333333;
        display: block;
        font-size: 11px;
        margin-bottom: 2px;
        margin-right: 5px;
        padding-right: 5px;
        text-decoration: none;
        line-height: 25px;
        color:#eee;
    }

    ul li a {
        color:#eee;
        text-decoration:none;
        display:block;
    }

    ul li:hover, 
    ul li:active {
        border-right: 4px solid #C0B7B0;
        text-decoration: underline;
    }

    ul #selectedMenu {
        border-right: 4px solid #C0B7B0;
    }

    ul li ul {
        display:none;
        position:relative;
        width:320px;
        top:-33px;
        left:115px;
        z-index:1;
    }

    ul li.sectionheader ul li {
        margin-right: 0;
    }

    ul li:hover > ul { 
        display:block;
    }
}
