$breakpoints: (
	'xsmall': ( max-width: 598px ),
	'small': ( min-width: 600px ),
	'medium': ( min-width: 900px ),
	'large': ( min-width: 1200px ),
	'desktop': ( min-width: 1400px )
) !default;

@mixin screen-width($breakpoint) {
	@if map_has_key($breakpoints, $breakpoint) {
		@media only screen and #{inspect(map-get($breakpoints, $breakpoint))} {
			@content;
		}
	}
}

/*
html body footer {
	@include screen-width('xsmall') {
		&:before {
			content: "xsmall";
		}
	}

	@include screen-width('small') {
		&:before {
			content: "small";
		}
		margin-inline: auto;
	}

	@include screen-width('medium') {
		&:before {
			content: "medium";
		}
	}

	@include screen-width('large') {
		&:before {
			content: "large";
		}
	}

	@include screen-width('desktop') {
		&:before {
			content: "desktop";
		}
	}
}
*/
